{
MARGIN:0;
PADDING:0;
}
header{
background-image:url("NEw.JpG");
background-position:center;
height:15vh;
}
ul{
float:right;
list-style-type:none;
}
ul li{
display:inline-block;
}
ul li a{
text-decoration: none;
color: RED;
padding: 4px 12px;
border: 8px solid black;
}
ul li a:hover{
background-color:cyan;
color:pink;
transition:0.8s EASE;
}
